<div class= "navbar navbar-custom" style="background-color: rgb(200,200,200);">
  <div><h1>Wikinimous</h1></div>

  <div class= "navbar-toggle" ><%= link_to "Add a article", new_article_path %></div>
</div>

<div class="col-sm-12 text-center">
  <% @articles.each do |article| %>
    <h3 class="article-list"><%= link_to article.title, article_path(article) %></h3>
    <%= article.content%>
    <%= link_to "Delete", article_path(article), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
</div>
